<!DOCTYPE html>
<!--
An example web page that creates and displays a custom Google Maps API Map Type
for Earth Engine map tiles.  See Google Maps documentation on Custom Map Types
for details.
-->
<html>
  <head>
    <title>Earth Engine Demo</title>
    
  </head>
  <body>
    <h3>Demo - 38 Aniversario de Ingeniería Geográfica UNMSM</h3>
    <a href="/" name="return"> Return</a>
    <p><b>NDVI</b><br />
    {{count}} Imagenes utilizadas<br />
    SRC: {{projection}}<br />
    Area de interes: {{rect}}<br />
    <!--Timestamps: {{timestamps}}<br />     -->
    <a href={{downloadpathclip}}>{{downloadtext}}</a><br />
  </body>
</html>